<a href="https://colab.research.google.com/github/prime29haruno/github-notes/blob/main/Python1_1%EF%BD%9E3_1practice_re.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1-0

①次のCodeセルを選択して 10/3 と入力して実行してください。

In [1]:
10/3

3.3333333333333335

1-1

①黄金比を求めてください。黄金比とは、5 の平方根に 1 を加えて 2 で割ったものです。約 1.618 になるはずです。

In [3]:
(5 ** 0.5 + 1) / 2

1.618033988749895

1-2

①f フィート i インチをセンチメートルに変換する関数 ft_to_cm(f,i) を定義してください。 ただし、1 フィート = 12 インチ = 30.48 cm としてよい。

In [ ]:
def ft_to_cm(f, i):
    ...

定義ができたら、次のセルを実行して、エラーがでないことを確認してください。

In [5]:
def ft_to_cm(f, i):
  result = f * 30.48 + i * (30.48 / 12)
  return result

assert round(ft_to_cm(5, 2) - 157.48, 6) == 0
assert round(ft_to_cm(6, 5) - 195.58, 6) == 0

②二次関数 ax^2+bx+c
 の値を求める quadratic(a,b,c,x) *を定義してください。*

In [ ]:
def quadratic(a, b, c, x):
    ...

定義ができたら、次のセルを実行して、エラーがでないことを確認してください。

In [6]:
def quadratic(a, b, c, x):
  result = a * (x ** 2) + b * x + c
  return result

assert quadratic(1, 2, 1, 3) == 16
assert quadratic(1, -5, -2, 7) == 12

③二次方程式 ax^2+bx+c=0
 に関して以下のような関数を定義してください。

1. 判別式 b^2-4ac
 を求める qe_disc(a,b,c)

2. 解のうち、大きくない方を求める qe_solution1(a,b,c)

3. 解のうち、小さくない方を求める qe_solution2(a,b,c)

ただし、qe_solution1 と qe_solution2 は qe_disc を使って定義してください。 二次方程式が実数解を持つと仮定してよいです。

In [ ]:
import math

def qe_disc(a, b, c):
    ...

def qe_solution1(a, b, c):
    ...

def qe_solution2(a, b, c):
    ...

定義ができたら、次のセルを実行して、エラーがでないことを確認してください。

In [7]:
import math

def qe_disc(a, b, c):
    result = b ** 2 - 4 * a * c
    return result

def qe_solution1(a, b, c):
    result = (-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)
    return result

def qe_solution2(a, b, c):
    result = (-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a)

assert qe_disc(1, -2, 1) == 0
assert qe_disc(1, -5, 6) == 1
assert round(qe_solution1(1, -2, 1) - 1, 6) == 0
assert round(qe_solution2(1, -2, 1) - 1, 6) == 0
assert round(qe_solution1(1, -5, 6) - 2, 6) == 0
assert round(qe_solution2(1, -5, 6) - 3, 6) == 0

TypeError: unsupported operand type(s) for -: 'NoneType' and 'int'

In [ ]:
#模範解答

import math

def qe_disc(a, b, c):
    return b*b - 4*a*c

def qe_solution1(a, b, c):
    return (-b - math.sqrt(qe_disc(a, b, c))) / (2*a) #1.の関数を利用、math.sqrt

def qe_solution2(a, b, c):
    return (-b + math.sqrt(qe_disc(a, b, c))) / (2*a)

1-3

①数値 x の絶対値を求める関数 absolute(x) を定義してください。 Pythonには abs という絶対値を求める組み込み関数が用意されていますが、それを使わずに定義してください。

In [ ]:
def absolute(x):
    ...

定義ができたら、次のセルを実行して、エラーがでないことを確認してください。

In [9]:
def absolute(x):
  if x >= 0:
    return x
  else:
    return -x

assert absolute(5) == 5
assert absolute(-5) == 5
assert absolute(0) == 0

②x が正ならば 1、負ならば -1、ゼロならば 0 を返す関数 sign(x) を定義してください。

In [ ]:
def sign(x):
    ...

定義ができたら、次のセルを実行して、エラーがでないことを確認してください。

In [11]:
def sign(x):
  if x > 0:
    return 1
  elif x == 0:
    return 0
  else:
    return -1

assert sign(5) == 1
assert sign(-5) == -1
assert sign(0) == 0

2-1

①英語の文章からなる文字列 str_engsentences が引数として与えられたとき、str_engsentences 中に含まれる全ての句読点（., ,, :, ;, !, ?）を削除した文字列を返す関数 remove_punctuations を作成してください。 （練習の解答はこのノートブックの一番最後にあります。）

次のセルの ... のところを書き換えて remove_punctuations(str_engsentences) を作成してください。

In [ ]:
#2-1 ①
def remove_punctuations(str_engsentences):

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [12]:
def remove_punctuations(str_engsentences):
  str1 = str_engsentences.replace('.', '')
  str1 = str1.replace(',', '')
  str1 = str1.replace(':', '')
  str1 = str1.replace(';', '')
  str1 = str1.replace('!', '')
  str1 = str1.replace('?', '')
  return str1

print(remove_punctuations('Quiet, uh, donations, you want me to make a donation to the coast guard youth auxiliary?') == 'Quiet uh donations you want me to make a donation to the coast guard youth auxiliary')

True

②ATGCの4種類の文字から成る文字列 str_atgc が引数として与えられたとき、文字列 str_pair を返す関数 atgc_bppair を作成してください。ただし、str_pair は、str_atgc 中の各文字列に対して、 A を T に、T を A に、G を C に、C を G に置き換えたものです。

次のセルの ... のところを書き換えて atgc_bppair(str_atgc) を作成してください。

In [ ]:
def atgc_bppair(str_atgc):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [13]:
def atgc_bppair(str_atgc):
    str1 = str_atgc.replace("T", "t")
    str1 = str1.replace("A", "T")
    str1 = str1.replace("t", "A")
    str1 = str1.replace("C", "c")
    str1 = str1.replace("G", "C")
    str1 = str1.replace("c", "G")
    return str1

print(atgc_bppair('AAGCCCCATGGTAA') == 'TTCGGGGTACCATT')

True

③コロン (:) を1つだけ含む文字列 str1 を引数として与えると、コロンの左右に存在する文字列を入れ替えた文字列を返す関数 swap_colon(str1) を作成してください。

次のセルの ... のところを書き換えて swap_colon(str1) を作成してください。

In [ ]:
def swap_colon(str1):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [18]:
def swap_colon(str1):
  colon_index = str1.index(":")
  str2 = str1[:colon_index]
  str3 = str1[colon_index+1:]
  str4 = str3 + ":" + str2
  return str4

print(swap_colon('hello:world') == 'world:hello')

True

④ATGCの4種類の文字から成る文字列 str_atgc と塩基名（A, T, G, C のいずれか）を指定する文字列 str_bpname が引数として与えられたとき、str_atgc 中に含まれる塩基 str_bpname の数を返す関数 atgc_count を作成してください。

次のセルの ... のところを書き換えて atgc_count(str_atgc, str_bpname) を作成してください。

In [ ]:
def atgc_count(str_atgc, str_bpname):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [20]:
def atgc_count(str_atgc, str_bpname):
    return str_atgc.count(str_bpname)

print(atgc_count('AAGCCCCATGGTAA', 'A') == 5)

True

⑤英語の文字列 str_engsentences が引数として与えられたとき、それが全て小文字である場合、True を返し、そうでない場合、 False を返す関数 check_lower を作成してください。

次のセルの ... のところを書き換えて check_lower(str_engsentences) を作成してください。

In [ ]:
def check_lower(str_engsentences):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認してください。

In [ ]:
def check_lower(str_engsentences):
    if str_engsentences == str_engsentences.lower():
      return True
    return False

print(check_lower('down down down') == True)
print(check_lower('There were doors all round the hall, but they were all locked') == False)

⑥コンマ (,) を含む英語の文章からなる文字列 str_engsentences が引数として与えられたとき、str_engsentences 中の一番最初のコンマより後の文章のみかならなる文字列 str_res を返す関数 remove_clause を作成してください。ただし、 str_res の先頭は大文字のアルファベットとしてください。

次のセルの ... のところを書き換えて remove_clause(str_engsentences) を作成してください。

In [ ]:
def remove_clause(str_engsentences):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [24]:
def remove_clause(str_engsentences):
  str1 = str_engsentences
  comma_index = str1.index(",")
  str_res = str1[comma_index+2:]
  return str_res.capitalize()

print(remove_clause("It's being seen, but you aren't observing.") == "But you aren't observing.")

True

2-2

①リスト ln を引数として取り、ln の偶数番目のインデックスの値を削除したリストを返す関数 remove_evenindex を作成してください（ただし、0 は偶数として扱うものとします）。

ヒント：スライスを使います。

以下のセルの ... のところを書き換えて remove_evenindex(ln) を作成してください。

In [ ]:
def remove_evenindex(ln):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認してください。

In [2]:
def remove_evenindex(ln):
  ln2 = ln[1::2]
  return ln2

print(remove_evenindex(['a', 'b', 'c', 'd', 'e', 'f', 'g']) == ['b', 'd', 'f'] )
print(remove_evenindex([1, 2, 3, 4, 5]) == [2, 4])

True
True

②emailアドレス email とドメイン名 domain を引数に取って、email のドメイン名を domain に置き換える関数 change_domain(email, domain) を作成してください。 なお、emailアドレスのドメイン名とは、 '@' で区切られた右側の部分を意味します。

次のセルの ... のところを書き換えて change_domain(email, domain) を完成させてください。

In [ ]:
def change_domain(email, domain):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [4]:
def change_domain(email, domain):
  atmark_index = email.index("@")
  address = email[0:atmark_index]
  return address + "@" + domain

print(change_domain('spam@utokyo-ipp.org', 'ipp.u-tokyo.ac.jp') == 'spam@ipp.u-tokyo.ac.jp')

True

In [ ]:
#模範解答
def change_domain(email, domain):
    return '@'.join([email.split('@')[0], domain])

③整数の要素からなるリスト ln を引数として取り、 ln に含まれる要素を逆順に格納したタプルを返す関数 reverse_totuple を作成してください。

以下のセルの ... のところを書き換えて reverse_totuple(ln) を作成してください。

In [ ]:
def reverse_totuple(ln):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [5]:
def reverse_totuple(ln):
  ln.reverse()
  tup = tuple(ln)
  return tup

print(reverse_totuple([1, 2, 3, 4, 5]) == (5, 4, 3, 2, 1))

True

④整数の要素からなるリスト ln を引数として取り、ln の要素の総和を返す関数 sum_list を作成してください。

以下のセルの ... のところを書き換えて sum_list(ln) を作成してください。

In [ ]:
def sum_list(ln):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が全て True になることを確認してください。

In [7]:
def sum_list(ln):
  sum = 0
  for i in ln:
    sum += i
  return sum

print(sum_list([10, 20, 30]) == 60)
print(sum_list([-1, 2, -3, 4, -5]) == -3)

True
True

⑤ATGCの4種類の文字から成る文字列 str_atgc が引数として与えられたとき、次のようなリスト list_count を返す関数 atgc_countlist を作成してください。ただし、 list_count の要素は、各塩基 bp に対して str_atgc 中の bp の出現回数と bp の名前を格納した（長さ2の）リストとします。

ヒント：文字列 'ATGC' に対する繰り返しを用いることができます。

以下のセルの ... のところを書き換えて atgc_countlist(str_atgc) を作成してください。

In [ ]:
def atgc_countlist(str_atgc):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [8]:
def atgc_countlist(str_atgc):
  list_count = []
  for value in "ATGC":
    int_bpcnt = str_atgc.count(value)
    list_count.append([int_bpcnt, value])
  return list_count

print(sorted(atgc_countlist('AAGCCCCATGGTAA')) == sorted([[5, 'A'], [2, 'T'], [3, 'G'], [4, 'C']]))

True

3-1

①リスト list1 が引数として与えられたとき、list1 の各要素 value をキー、value の list1 におけるインデックスをキーに対応する値とした辞書を返す関数 reverse_lookup を作成してください。

以下のセルの ... のところを書き換えて reverse_lookup(list1) を作成してください。

In [ ]:
def reverse_lookup(list1):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [1]:
def reverse_lookup(list1):
  dic1 = {}
  for value in list1:
    dic1[value] = list1.index(value)
  return dic1

print(reverse_lookup(['apple', 'pen', 'orange']) == {'apple': 0, 'orange': 2, 'pen': 1})

True

②辞書 dic1 と文字列 str1 が引数として与えられたとき、 以下のように dic1 を変更する関数 handle_collision を作成してください。 ただし、dic1 のキーは整数、キーに対応する値は文字列を要素とするリストとします。

1. dic1 に str1 の長さ n がキーとして登録されていない場合、str1 のみを要素とするリスト ls を作成し、 dic1 にキー n、n に対応する値 ls を登録します。

2. dic1 に str1 の長さ n がキーとして登録されている場合、そのキーに対応する値（リスト）に str1 を追加します。

以下のセルの ... のところを書き換えて handle_collision(dic1, str1) を作成してください

In [ ]:
def handle_collision(dic1, str1):
    ...

上のセルで解答を作成した後、以下のセルを実行し、実行結果が True になることを確認してください。

In [2]:
def handle_collision(dic1, str1):
  if dic1.get(len(str1)) is None:
    ls = [str1]
  else:
    ls = dic1[len(str1)]
    ls.append(str1)
  dic1[len(str1)] = ls

dic1_orig = {3: ['ham', 'egg'], 6: ['coffee', 'brandy'], 9: ['port wine'], 15: ['curried chicken']}
dic1_result = {3: ['ham', 'egg', 'tea'], 6: ['coffee', 'brandy'], 9: ['port wine'], 15: ['curried chicken']}
handle_collision(dic1_orig, 'tea')
print(dic1_orig == dic1_result)

True